# @@ Keeping vendor in git, as it is small and may simplify pulling.
	# ignore composer packages -- use composer install after pull
	#/vendor

# ignore environment variables
*.env

# ignore JetBrains configuration folder
.idea
