# Environment Variables are held within an ".env" file.
# Create a new file with no name and .env file type.
# The file should contain nothing but as what is written below, with the appropriate values.
# The .env file should preferrable be in the root directory with folders 'src' and 'public'.
# It can be located in the following:
# ROOT/.env
# ROOT/src/.env
# ROOT/var/.env
# ROOT/var/www/.env
# The locations that will be chacked can be changed under src/core/LoadEnvironment.php -> $envFilePaths
MYSQL_USERNAME=example_username
MYSQL_PASSWORD=example_password
MYSQL_DSN=example_localhost:80