.login-form {
	padding:5px;
	text-align: center;
	vertical-align: bottom;
	bottom: 40%;
	transform: translateY(40%);	
	margin:none;
}
.login-form label {
	position: relative;
	display:block;
	color:#4169E1;
	margin: 10px;
	font-weight: bold;
}
.login-form input {
	padding: 8px;
	width: 20%;
	border: 2px solid #eaeded;
	border-radius: 5px;
}
.login-button {
	background-color: #4169E1;
	color: #FFF;
	transform: translateY(80%);
	width: 20%;
	border: 2px solid #eaeded;
	border-radius: 5px;	
}
.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	bottom: 30%;
	transform: translateY(40%);
	border-radius: 10px;
}
.createAccount-button{
	background-color: #4169E1;
	color: #FFF;
	border:2px;
	transform: translateY(300%);
	width: 20%;
	border: 2px solid #eaeded;
	border-radius: 5px;	
}
.createAccount-form{
	text-align:center;
	transform: translateY(30%);
}
.createAccount-form label {
	position: relative;
	display:block;
	color:#4169E1;
	margin: 5px;
	font-weight: bold;
}
.createAccount-form input {
	padding: 8px;
	width: 20%;
	border: 2px solid #eaeded;
	border-radius: 5px;
}
body {
	background-image: url(../img/img1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@keyframes bounceIn {
   0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
div {
  animation: bounceIn 2s;
}